.container {
    max-width: 1200px;
margin: 0 auto;}

a {
    text-decoration: none;
    font-family: Raleway;
    color: #FFFFFF;
} /* esto es para que el link pierda el azul y subrayado */


ul, ol {
    list-style-type: none;
} /* ésto es para quitar elos puntitos de li y ol. */

img {
    width: 100%;
} /* normalizar la etiqueta img para indicarle que ocupe el 100% del ancho de su contenedor padre (maxwidth que le demos) */



/* HEADER */

header {
    background-color: #30343F;
    /* padding: 3.6rem; */
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
} 


.navbar__logo {
    max-width: 300px;
} /* estos 300 px no van a cambiar nada, a menos que normalicemos la imagen y le pongamos 100%. Porque las img a l ser etiquetas en lineas no le importa que le pongamos x cant de pk del contenedor porque hace overflow, no le importa. Asi que hay que restringir esto con la normalizacion de arriba. */


.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 16px;
}

.navbar__link {
    font-size: 20px;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: rgba(255, 51, 51, 0.9);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


.with-submenu:hover .submenu {
    display: block;
}

.submenu {
        display: none;
        width: 300px;
        position: absolute;
        background-color: #30343F;
        z-index: 3;
        padding: 0.8rem;
    }


    .submenu__link {
    display: block;
    padding: 0.8rem;
    font-size: 20px;
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: rgba(255, 51, 51, 0.9);
} 

/* HERO */


.hero {
    background-image: url(./img/branding/funkos-banner.webp);
    /* padding: 12.8rem; */
    background-size: cover;
    /* para que el banner no se repita */
    background-attachment: fixed;
     /* para que el banner juegue con el */
     position: relative;
     background-position: top;
}

.hero::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    align-items: start;
    /* Para que el boton de shop que creamos con css 
    no tome todo el bloque con su color de relleno por su 
    valor de align item por defecto. */
    z-index: 2;
    position: relative;
    padding: 60px;
}

.hero__title {
    font-size: 38px;
    font-weight: 700;
    font-family: Raleway;
    color:#FFFFFF;

}

.hero__text {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway;
    color:#FFFFFF;
}

.hero__link {
    display: inline-block;
    /* para que tome todos los datos de padding de antes */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #111111;
    background-color:#FAFAFF;
    padding: 1.2rem 6.8rem;
    border-radius: 50px;
}

.hero__link:hover {
    background-color: rgba(255, 51, 51, 0.9);
    color: #FFFFFF;
    transition: all .3s ease-in-out;}

/* COLLECTIONS */

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1.6rem 0rem;
}


.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: start;
}

.collection__title {
    width: 441px;
    height: 108px;
    left: 110px;
    top: 751.5px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
    color: #111111;
}

.collection__text {
    width: 458px;
    height: 56px;
    left: 110px;
    top: 865.5px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
    color: #4F4F4F;
    border-bottom: 2px solid #FF3333;
    padding-bottom: 2rem;
}

.collection__link {
    display: inline-block;
    /* para que tome todos los datos de padding de antes */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color:#30343F;
    padding: 1.2rem 4rem;
    border-radius: 50px;
    transition: background .3s ease-in-out;
}

.collection__link:hover{
    background-color: rgba(255, 51, 51, 0.9);
}

.collection__cover {
    width: 600px;
    height: 600px;
    left: 730px;
    top: 600px;
}

/* ÚLTIMOS LANZAMIENTOS */

.slider {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    margin: 6.8rem auto;
}

.slider__title {
    font-family: Raleway;
    font-size: 46px;
    font-weight: 700;
    text-align: left;
    color: #111111;
    text-transform: uppercase;
} 

.slider__items {
    display: flex;
    gap: 2.4rem;
    padding: 0%;
}

.card-item__cover{
    display: flex;
    position: relative;
}

.card-item__tag {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    background-color: #FF3333;
    padding: 0.8rem 1.2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    right: 0%;
}

.card-item__cover img {
    animation: fade .7s;
 }

.card-item__img--back {
    display: none;
}
/* 1 */

.card-item__cover:hover .card-item__img--back {
    display: block;

}
/* 2 */

.card-item__cover:hover .card-item__img--front {
    display: none;

}
/* 3 */

/* Explicación de esta locura: la img front por defecto está, 
por eso no la escribimos en este CSS, al contrario de la
back si no se le hace hover (1). Ahora, si haces hover 
sobre la front, aparece la back y se queda (2), al mismo 
tiempo que la front desaparece (3).  */

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.6rem;
}

.card-item__licence {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    margin: 0px;
}

.card-item__name {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #111111;
    margin: 0px;
    }

.card-item__price {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin: 0px;
}

.card-item__promo {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #1D84B5;
    margin: 0px;
    }

/* footer*/

.footer {
    background-color:#333333;
    padding: 6.8rem;
}


.footer__copy {
    display: flex;
    text-align: center;
    margin-top: 3.6rem
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin.top: 3.6px;
}

@keyframes fade {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
    }